<h1>**Page in process** Will be adding web sites that I've used to learn / expand my coding knowledge that are low or no cost.<h1>

<br>
<br>
<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :question_name, autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
<br>
<ul class="my-ui-list">
<%= link_to "https://www.freecodecamp.org/", target: :_blank  do %>
  <h1>https://www.freecodecamp.org/</h1>
<% end %>
<br>
<br>
<%= link_to "https://www.khanacademy.org/computing/computer-programming", target: :_blank  do %>
  <h1>https://www.khanacademy.org/computing/computer-programming</h1>
<% end %>
<br>
<br>
<%= link_to "https://www.codecademy.com/", target: :_blank  do %>
  <h1>https://www.codecademy.com/</h1>
<% end %>
<br>
<br>
<%= link_to "https://codepen.io/", target: :_blank  do %>
  <h1>https://codepen.io/</h1>
<% end %>
<br>
<br>
<%= link_to "http://upskillcourses.com/", target: :_blank  do %>
  <h1>http://upskillcourses.com/</h1>
<% end %>
<br>
<br>
<%= link_to "http://rubyonrails.org/", target: :_blank  do %>
  <h1>http://rubyonrails.org/</h1>
<% end %>
<br>
<br>
<%= link_to "https://www.udemy.com/courses/", target: :_blank  do %>
  <h1>https://www.udemy.com/courses/</h1>
<% end %>
<ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
