
<!--Need to work on positioning of self image
  <img class= me  src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/15319097_10211166392421461_2269551270510495837_n.jpg?oh=a4f28fa48a8581d11800470e75233bb2&oe=597F4FD2" >
-->


<body class="body">
<div class="row">
<div class="col-md-3">
  <h1 class="text-center"></h1>
    <img class= me  src="https://scontent.xx.fbcdn.net/v/t1.0-9/12933079_10208988999588001_9103491097499394503_n.jpg?oh=72b915a1638d4cd6cbf72ff5e953fff8&oe=5A035815" >
    <h5>I'm Aaron Eichhorst, a software developer in the Chicago land area. <a href="about" style=color:skyblue>More about me.</a></h5>

</header>
</div>
<p id="notice"><%= notice %></p>

<div class= "col-md-8">
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, class: 'newPost btn btn-success' %>
<% end %>
<br>
<br>
<!-- commenting out for now
<h1 class="text-center">Posts</h1>
-->
<div class="">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <div class="post_wrapper">
          <h1 class="title"><%= link_to post.title, post %></h1>
          <h3 class="body"><%= link_to post.body, post %></h3>
          <h3 class="date"><%= post.created_at.strftime("%B, %d, %Y") %></h3>
          <h3 class="comments">Comments: <%= link_to post.comments.count, post %></h3>
        <!-- removed: used titel, body and date with different HTML / Ruby above
        <td><%= post.title %></td><br><br>
        <td><%= post.body %></td><br><br><br>
        -->

        <td><%= link_to 'View', post, class: 'btn ' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn ' %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn ' %></td>
      </tr>
    <% end %>





  </tbody>
</div>
</div>
</div>
</body>



</header>
