
<!--Need to work on positioning of self image
  <img class= me  src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/15319097_10211166392421461_2269551270510495837_n.jpg?oh=a4f28fa48a8581d11800470e75233bb2&oe=597F4FD2" >
-->


<body class="body">
<div class="col-md-8 col-sm-offset-2">
<header class="jumbotron page-header">
  <h1 class="text-center">Welcome to my site!</h1>
  <h3 class="text-center">I've created this site as a portfolio and refernce
    page to display my learnings in front and back end web development.</h3>
</header>
</div>
<p id="notice"><%= notice %></p>

<div class= "col-md-8 col-sm-offset-2">

<%= link_to 'New Post', new_post_path, class: 'newPost btn btn-success' %>
<br>
<br>
<!-- commenting out for now
<h1 class="text-center">Posts</h1>
-->
<div class="">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <div class="post_wrapper">
          <h1 class="title"><%= link_to post.title, post %></h1>
          <h3 class="body"><%= link_to post.body, post %></h3>
          <h3 class="date"><%= post.created_at.strftime("%B, %d, %Y") %></h3>

        <!-- removed: used titel, body and date with different HTML / Ruby above
        <td><%= post.title %></td><br><br>
        <td><%= post.body %></td><br><br><br>
        -->

        <td><%= link_to 'View', post, class: 'btn ' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'btn ' %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn ' %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</div>
</body>


<div class="leftbar">
  <ul>
    <h4>Video of the week:</h4>

    <iframe width="186" height="110" src="https://www.youtube.com/embed/Gj5qBheGOEo?list=PLWKjhJtqVAbkso-IbgiiP48n-O-JQA9PJ" frameborder="0" allowfullscreen></iframe>
  </ul>
    <br>
    <br>
  <ul>
    <h4>Past videos:</h4>
      <iframe width="186" height="110" src="https://www.youtube.com/embed/Y2VF8tmLFHw" frameborder="0" allowfullscreen></iframe>
      <br>
      <br>
      <iframe width="186" height="110" src="https://www.youtube.com/embed/ZkRu9gPr4sU" frameborder="0" allowfullscreen></iframe>
      <br>
      <br>

      <iframe width="186" height="110" src="https://www.youtube.com/embed/BI_VnnOLSKY" frameborder="0" allowfullscreen></iframe>
  </ul>
</div>

</header>
