<html>
  <head>
      <title>app</title>
      <%= csrf_meta_tags %>
      <link href="//fonts.googleapis.com/css?family=Eagle+Lake|Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>


    <nav class ="navbar navbar-default navbar-static-top" role="navigation">
        <div class= "container">
      <div class ="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle= "collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class ="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--Hamburger Menu -->
        <div id="main" class="col-sm-1" style=text-align:center>
          <span style="font-size:30px ; cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>

      <%= link_to root_path, class: "navbar-brand" do %>
          Aaron Eichhorst
          <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <div class="nav navbar-nav navbar-right">
          <a href="/users/sign_in" class="btn btn-default navbar-btn">Log In</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Aaron", contact_us_path %></li>
          <li>
          <%= link_to "https://github.com/piGuy314", target: :_blank  do %>
          <i class="fa fa-github fa-2x"></i>
          <% end %>
        </li>
        <li>
        <%= link_to "https://www.linkedin.com/in/aaron-eichhorst-3a348862/", target: :_blank  do %>
        <i class="fa fa-linkedin-square fa-2x"></i>
        <% end %>
      </li>
      <li>
      <%= link_to "https://www.facebook.com/aaron.eichhorst.7?ref=bookmarks", target: :_blank  do %>
      <i class="fa fa-facebook-official fa-2x"></i>
      <% end %>
    </li>
        </ul>

      </div><!-- /.navbar-collapse -->
      </div>
  </nav>


<!--Hamburger Nav data -->
  <div id="myRightnav" class="rightnav" style="text-align:right">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="posts">home</a>
    <a href="devmatch">Dev Match</a>
    <a href="javascript">JavaScript</a>
    <a href="javascript">Videos</a>


  </div>


<!-- Success / error message for contact form -->
  <div class = "container">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{type}" %>
    <% end %>
    <%= yield %>
    </div>
  </div>



<footer class="text-center">
  <nav style="bottom: 0px; width: 100%; height: 60px; background-color: lightgray;" class ="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class= "container text-center">
        <div class ="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle= "collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class ="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
        <div class="nav navbar-nav navbar-center">
        </div>
      <ul class="nav navbar-nav navbar text-center">


        <!--
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Aaron", contact_us_path %></li>
        -->

    <li>
        <%= link_to "https://github.com/piGuy314", target: :_blank  do %>
        <i class="fa fa-github fa-2x"></i>
        <% end %>
      </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/aaron-eichhorst-3a348862/", target: :_blank  do %>
      <i class="fa fa-linkedin-square fa-2x"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.facebook.com/aaron.eichhorst.7?ref=bookmarks", target: :_blank  do %>
      <i class="fa fa-facebook-official fa-2x"></i>
      <% end %>
    </li>
  <!--
      <li><h3>Aaron Eichhorst 2017. All Rights Reserved.</h3></li>
    -->
    </ul>

      </div>
    </div>
  </nav>
</footer>



</html>
